.square-button {
  width: 5rem; /* Szerokość przycisku */
  height: 5rem; /* Wysokość przycisku, taka sama jak szerokość, aby był kwadratowy */
  background-color: #f8f9fa; /* Tło */
  display: flex;
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
  cursor: pointer; /* Zmiana kursora na rękę */
  padding: 0;
  outline: none;
}

.square-button img {
  max-width: 80%; /* Maksymalna szerokość obrazka */
  max-height: 80%; /* Maksymalna wysokość obrazka */
}

.square-button:hover {
  background-color: #e0e0e0; /* Zmiana koloru tła przy najechaniu */
}

.square-button:active {
  background-color: #007bff; /* Zmiana tła po naciśnięciu */
}