.parent {
  display: grid;
  grid-gap: 20px;
  justify-content: left;
  grid-template-columns: repeat(3, calc(33.33% - 25rem));
}
.child {
  margin: 0; /* because we have grid-gap */
}
ul {
    list-style-type: none;
}