.rectangle {
    width: 12rem;
    height: 16rem;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: center;
}

.rectangle img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-bottom: 15px;
}