<div class="grid-container">
    <!-- Przykład z 6 kolumnami -->
    <div class="button-grid" data-columns="6">
      <!-- Nagłówek kolumny (obrazek w pierwszej kolumnie i wierszu) -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-suspect src=""></app-deduction-suspect>
      
      <!-- Pierwsza kolumna z obrazkami i przyciski -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

        
      
      <!-- Druga kolumna z obrazkiem i przyciski -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

  
      <!-- Druga kolumna z obrazkiem i przyciski -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

    </div>
    
    <!-- Przykład z 3 kolumnami -->
    <div class="button-grid" data-columns="3">
      <!-- Pierwsza kolumna z obrazkami i przyciski -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

      
      <!-- Druga kolumna z obrazkiem i przyciski -->
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

  
      <app-deduction-suspect src=""></app-deduction-suspect>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>
      <app-deduction-tile></app-deduction-tile>

    </div>
  </div>
  