<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
    <app-lore emote="👾" lore="Make your accusation"></app-lore>
    <form (ngSubmit)="onSubmit()">
       
            <label for="who">Who</label>
            <div class="select">
                <select id="who" [(ngModel)]="model.who" name="who">
                    <option disabled selected>--Select--</option>
                    <option *ngFor="let item of whoOptions" [value]="item">
                        {{item}}
                    </option>
                </select>
                <div class="select_arrow"></div>
            </div>
           
        
        
            <label for="how">How</label>
            <div class="select">
                <select id="how" [(ngModel)]="model.how" name="how">
                    <option disabled selected>--Select--</option>
                    <option *ngFor="let where of whereOptions" [value]="where">
                        {{ where }}
                    </option>
                </select>
                <div class="select_arrow"></div>
            </div>
        
        
            <label for="where">Where</label>
            <div class="select">
                <select id="where" [(ngModel)]="model.where" name="where">
                    <option disabled selected>--Select--</option>
                    <option *ngFor="let how of howOptions" [value]="how">
                        {{ how }}
                    </option>
                </select>
                <div class="select_arrow"></div>
            </div>
        

        <p class="actions">
            <button class="cancelBtn" type="button" (click)="onCancel()">Cancel</button>
            <button class="submitBtn" type="submit">Create</button>
        </p>
    </form>
</dialog>