@for(clue of clues; track clue.id) {
    <label for="clue.id">
        <input 
          type="checkbox" 
          id="clue.id" 
          name="clue.id" 
          [(ngModel)]="checkedClues[clue.id]"
          (click)="toggleCheckbox(clue.id)"
        >
        <span [ngStyle]="{ 'opacity': checkedClues[clue.id] ? '0.5' : '1' }">
          {{ clue.info }}
        </span>
      </label>
    
      <a href="#" (click)="toggleDetails(clue.id); $event.preventDefault()">
        {{ extendedHintMap[clue.id] ? clue.answer : '?' }}
      </a>
    
      <br />
}